*{
    margin: 0px;
    padding: 0px; 
}
.section-1 {
    display:flex;
    background-image: url(img/1st-banner-picture.jpg);
    background-repeat: no-repeat;
    height: 1080px;
    
}
#logo{
    height: 200px;
    width: 200px;
    margin-left: 300px;
    padding-top: 10px;
    
}
h1{
    font-weight: bolder;
    padding: 10px;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    
}
h3{
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
p{
    padding:10px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #777777
    
    
}
.section-1 div{
    padding-top: 350px;
    padding-left: 300px;
}
.link-click{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #fd4766;
    display: inline;
    padding: 15px 35px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}
#pink{
    color: #fd4766;
}
.hero-div{
    margin: -20px;
    margin-left: -500px;
    
}
.second-picture {
    width: 50%;
    margin-left: 10px;
    padding-right: 20px;
    

}
.content{
    width: 50%; 
    margin-left: 60px;
    margin-top: 100px;
    
}
.section-2{
    display:flex;
    margin-top: 120px;
}
.about-picture{
    box-shadow: 5px 5px 30px -10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 50px;

    
}
.four-content {
    display: flex;
    margin-top: 30px;
}

.sub-sec{
    padding-left: 130px;
}
.my-about{
    font-weight: 800;
    font-size: 50px;
}
.read{
    font-size: 20px;
    color: #fd4766;
    padding-top: 50px;

}
.list-item{
padding-left: 50px;
padding-top: 30px;
list-style-type:circle;
font-family: 'Poppins', sans-serif;
}

.service-content{
    width: 50%;
    margin-top: 250px;
    margin-right: 300px;

    
}
.section-3{
    display: flex;
}
.picture-10{
   width: 50%;
   margin-left: 250px;
   margin-top: 200px;
}
.service-content p{
    padding-bottom: 5px;
}
.list-item li {
    padding: 10px;
    color: #777777
}
#our-project{
    font-size: 50px;
}
.section-4 h3{
    text-align: center;
}
.section-4 h1{
    text-align: center;
}
.section-4 p{
    text-align: center;
}
.section-4{
    padding-top: 200px;
    
}
.section-4-work{
    display: flex;
    margin-left: 150px;
    margin-bottom: 0px;
    
}
.section2-img{
   background-image: url(img/game-development.jpg);
   height: 600px;
   width: 500px;
   background-repeat: no-repeat;
   margin-right: 20px;
  
    
}
.section2-img1{
    background-image: url(img/repoting-development.jpg);
    height: 600px;
   width: 500px;
   background-repeat: no-repeat;
}
.section2-img2{
    background-image: url(img/facebook-793048_1920.jpg);
    height: 400px;
   width: 500px;
   background-repeat: no-repeat;
   margin-left: 20px;
}
.service-p{
    color: white;
    font-weight: bolder;
    margin-top: 250px;
    
}
.service-button{
   color: white;
   text-decoration: none;
   border: 2px white solid;
   font-size: 15px;
   padding: 15px 30px;
   margin-left: 180px;
   font-weight: 600;
   
    
}
.section-5-work{
    display: flex;
    margin-left: 150px;
   margin-top: -200px;
}
#service-division{
    padding-bottom: 20px;
}
.section2-img10{
    background-image: url(img/wordpress-581849_1920.jpg);
    height: 600px;
    width: 500px;
    background-repeat: no-repeat;
    margin-right: 20px;
}
.section2-img120{
    background-image: url(img/apple-watch-5201172_1920.jpg);
    height: 427px;
   width: 500px;
   background-repeat: no-repeat;
}
.section2-img230{
    background-image: url(img/tiger-2430625_1920.jpg);
    height: 427px;
   width: 500px;
   background-repeat: no-repeat;
   margin-left: 20px;
   margin-bottom: 100px;
}
.service-p-1{
    color: white;
    font-weight: bolder;
    margin-top: 280px;
}

.form{
    display: flex;
    
    
}
.main-form{
    
    margin-left: 250px;
    padding: 50px;
}
input{
    
  padding: 10px;
  padding-left: 20px;
  height: 30px;
  width: 500px;
  font-size: 14px;
  border-radius: 10px;
  
  margin: 10px;
}
#special-message{
   
  padding: 10px;
  padding-left: 20px;
  height: 200px;
  width: 500px;
  font-size: 14px;
  border-radius: 10px;
  
}
#form-h3{
   margin-left: 310px;
   margin-top: 10px;
  
}
.hire-me{
    font-weight: 800;
    font-size: 50px;
    margin-left: 300px;
}
h4{
    margin-left: 310px;
}
span{
    font-weight: 100;
}
#hire-me-img{
  
}
.form-part-2{
    width: 50%;
}
.form-part-1{
    width: 50%;
}
.form-part-2 img{
    height: 800px;
}
footer{
    background-color: #fd4766
}
#footer{
    font-size: 15px;
    text-align: center;
    color: black;
    line-height: 20px;
    padding-top: 40px;
    
    
    
}
